@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Assistant&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #E0ECDA;
}

.cabecalho {
    background-color: #A2CA8E;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.cabecalho-imagem {
    height: 75px;
}

.cabecalho-menu {
    display: flex;
    gap: 25px;
}

.cabecalho-menu-item {
    font-family: 'Assistant', sans-serif;
    color: #63203D;
    font-weight: 400;
}

.rodape {
    background-color: #A2CA8E;
    padding: 20px;
}

.rodape-menu-imagem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.rodape-imagem {
    height: 40px;
}

.rodape-menu{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.rodape-menu-item {
    font-family: 'Assistant', sans-serif;
    color: #63203D;
    font-weight: 400;
}

.conteudo {
    margin: 30px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #A2CA8E;
    border: #A2CA8E solid 2px;
    border-radius: 25px;
    margin: 50px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.conteudo-principal-imagem {
    margin: 30px;
    border-radius: 25px;
}

.conteudo-principal-escrito-titulo {
    color: #361F2D;
    font-family: 'Angkor', cursive;
    text-align: center;
    font-weight: 400;
    font-size: 48px;
}

.conteudo-principal-escrito-subtitulo {
    color: #63203D;
    font-family: 'Assistant', sans-serif;
    text-align: right;
    font-weight: 400;
    font-size: 20px;
    margin-right: 25px;
}

.conteudo-principal-escrito-paragrafo {
    color: #63203D;
    font-family: 'Assistant', sans-serif;
    text-align: justify;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}
